.icon {
    height: 16px;
    width: 16px;
}
.icon, .text {
    display: inline-block;
    vertical-align: middle;
}

.rich-text-box {
    border: 1px solid #777;
    display: inline-block;
    width: 200px;
}